body{
  margin: 0;
}

.header{
  background-color: rgb(19, 25, 33);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.cart{
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.order-text{
  display: block;
  font-size: 15px;
  font-weight: 700;
}